.body main{
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body{
    background: url(connect..jpg);
    text-align: center;
}

button img{
    width: 100px;
    border-radius: 50%;
}

.networks img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 30px;    
    border: 3px solid rgb(51, 26, 26);
}

main h1,
p{
    color: rgb(202, 230, 22);
    font-size: 50px;
}
span{
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    box-shadow: 0px 7px rgba(0, 0, 0, 0.162);
    background-image:url(network.jpg);
    background-size: auto;
    width: 600px;
    display: inline-flex;
    border-radius: 50px;
}

.form-text p{
    background-color: hsl(248, 32%, 49%);
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    box-shadow: 0px 7px rgba(0, 0, 0, 0.246);
    color: black;
    font-family: 'Poppins', sans-serif;
	font-size: 13px;
	width: 560px;
}

.container{
    box-shadow: 0px 5px rgba(65, 57, 57, 0.136);
    display: flex;
    flex-direction: column;
    margin: 30px auto;
}

.field:invalid:focus{
    background: url(icon-error.svg) no-repeat 96%center white;
    outline: 2px solid red;
    border-radius: 5px;
}
 .field:required:focus ~ .error{
    display: block;
    color: red ;
    text-align: right;
    font-weight: bold;
    font-size:small;
}
.field:valid:focus ~ .error{
  display: none;
}
 .error{
   display: none;
   margin-bottom: 10px;
}

.field:valid{
    outline: 2px solid whitesmoke;
  }
.field:required{
    outline: 2px solid transparent;
 
}

input[type=email]:invalid:focus::-webkit-input-placeholder{
   color:red;
   font-size: medium;
}

input{
    width: 500px;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    margin: 10px;
    font-size: large;
}

main button{
    margin: 30px auto;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: transparent;
    color: aliceblue;
    border: none;
}

form p{
    text-align: center;
    font-size: 15px;
    color: black;
    margin: -0px auto;
}

form button{
    background-color: black;
    color: white;
}

button:hover{
    cursor: pointer;
    transform: scale(0.9);

} 

.home{
    text-align: center;
}

footer button{
    width: 100px;
    background-color: black;
}
footer button a{
    text-decoration: none;
    color: whitesmoke;
}

footer button:hover{
    transform: scale(0.9);
}

