.body main{
    /* background: url(images/connect.jpg); */
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body{
    background: url(/images/connect..jpg);
}

button{
    width: 100px;
    border-radius: 50%;
    border: none;
}

button img{
    width: 100px;
    border-radius: 50%;
}

.networks img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 30px;    
    border: 3px solid rgb(51, 26, 26);
}

main h1,
p{
    color: rgb(202, 230, 22);
    font-size: 50px;
}
span{
    display: flex;
    align-items: center;
    justify-content: center;
}